@model Proje.Models.IndexViewModel
@{
    var data = Model.Footers.ElementAt(0);
}
<footer id="footer">
    <div class="container">
        <h3>@data.Baslik</h3>
        <p>@data.Aciklama</p>
        <div class="social-links">
            <a href="@data.Icon1Link" class="twitter"><i class="bx bxl-@data.Icon1"></i></a>
            <a href="@data.Icon2Link" class="facebook"><i class="bx bxl-@data.Icon2"></i></a>
            <a href="@data.Icon3Link" class="instagram"><i class="bx bxl-@data.Icon3"></i></a>
            <a href="@data.Icon4Link" class="google-plus"><i class="bx bxl-@data.Icon4"></i></a>
            <a href="@data.Icon5Link" class="linkedin"><i class="bx bxl-@data.Icon5"></i></a>
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>Delicious</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->