@model Proje.Models.IndexViewModel      
@{
    var data = Model.Titles.ElementAt(0);
}
@if (Model.Events.Count()>0)
{
    

        <section id="events" class="events">
            <div class="container">

                <div class="section-title">
                    <h2>@data.EventsBaslik</h2>
                </div>

                <div class="events-slider swiper">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Events)
                {
                    
               
                        <div class="swiper-slide">
                            <div class="row event-item">
                                <div class="col-lg-6">
                                    <img src="~/assets/img/@item.Image" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-6 pt-4 pt-lg-0 content">
                                    <h3>@item.Baslik</h3>
                                    <div class="price">
                                        <p><span>@item.Fiyat ₺</span></p>
                                    </div>
                                    <p class="fst-italic">
                                        @item.Aciklama1
                                    </p>
                                    <ul>
                                        <li><i class="bi bi-check-circle"></i> @item.Madde1</li>
                                    <li><i class="bi bi-check-circle"></i> @item.Madde2</li>
                                    <li><i class="bi bi-check-circle"></i> @item.Madde3</li>
                                    </ul>
                                    <p>
                                    @item.Aciklama2
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->
                }
             


                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Events Section -->
}