@model Proje.Models.IndexViewModel
@{
    var data = Model.Titles.ElementAt(0);

}
<section id="specials" class="specials">
    <div class="container">



        <div class="section-title">
            <h2>@data.SpecialsBaslik</h2>
            <p>@data.SpecialsAciklama</p>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    @foreach (var item in Model.SpecialsNavs)
                    {
                        <li class="nav-item">
                            <a class="nav-link @item.Active" data-bs-toggle="tab" href="#@item.Href">@item.Baslik</a>
                        </li>
                    }


                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    @foreach (var item in Model.Specials)
                    {


                        <div class="tab-pane @item.Active show" id="@item.Href">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>@item.Baslik</h3>
                                    <p class="fst-italic">@item.Aciklama1</p>
                                    <p>@item.Aciklama2</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/@item.Image" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

    </div>
</section><!-- End Specials Section -->